@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 4px;
    background-color: #25252A;
}


.text{
    font-size: 36px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.textHeadline{
    font-size: 36px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 4;
}