@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 4px;
    background-color: #25252A;
}


.text{
    font-size: 36px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.textHeadline{
    font-size: 36px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 2;
}

.button{
    width: 180px;
    height: 40px;
    text-align: center;
    border-radius: 0.25cm;
    background-color: #959599;

}

.background{
    font-size: 36px;
    color: black;
    background-color: #959599;
    border-radius: 0.3cm;

    width: 400px;

}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
 }

 .currentModeDesine{
    font-size: 36px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 6;
 }

 .actModeDesign{
    position: absolute;
    width: 400px;
    height: 40px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -200px;

 }

 .actModeTextDesign{
    font-size: 36px;
    color: black;
    background-color: #959599;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: normal;
    border-radius: 0.25cm;

 }