@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 4px;
    background-color: #25252A;
}


.text{
    font-size: 36px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.textHeadline{
    font-size: 36px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 2;
}

.textHeadline2{
    font-size: 36px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 1;
}

.button{
    width: 180px;
    height: 40px;
    text-align: center;
    border-radius: 0.25cm;
    background-color: #959599;

}

.background{
    font-size: 36px;
    color: black;
    background-color: #959599;
    border-radius: 0.3cm;

    width: 400px;

}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
 }

 .currentModeDesine{
    font-size: 36px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 6;
 }

 .actModeDesign{
    position: absolute;
    width: 400px;
    height: 40px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -200px;

 }

 .actModeTextDesign{
    font-size: 36px;
    color: black;
    background-color: #959599;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: normal;
    border-radius: 0.25cm;

 }

 .buttonInMiddle{
    position: relative;
    width: 180px;
    height: 40px;

    top: 50%;
    left: 50%;
    margin: 10px 0 0 -90px;

    text-align: center;
    border-radius: 0.25cm;
    background-color: #959599;

 }

 .upLeft{
    width: 60px;
    height: auto;
    position: absolute;
    left: 50%;
    margin: 40px 0 0 -75px;
 }

 .upRight{
    width: 60px;
    height: auto;
    position: absolute;
    left: 50%;
    margin: 40px 0 0 15px;
 }

 .downLeft{
    width: 60px;
    height: auto;
    position: absolute;
    left: 50%;
    margin: 10px 0 0 -75px;
 }

 .downRight{
    width: 60px;
    height: auto;
    position: absolute;
    left: 50%;
    margin: 10px 0 0 15px;
 }


 .timeDesign{
    position: relative;
    width: 180px;
    height: 40px;
    z-index: 15;

    left: 50%;
    margin: 90px 0 0 -90px;
 }

 .timeText{
    font-size: 36px;
    color: black;
    background-color: #959599;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: normal;
    border-radius: 0.25cm;
 }